pysqlite3-binary; sys_platform == 'linux'
openai
langchain
langchain-anthropic
langchain-chroma
langchain-community
langchain-core
langchain-deepseek
langchain-openai
langchain-text-splitters
langsmith
chromadb
anthropic
streamlit
deepeval